<html>
  <head>  
    <title>App Name</title>
    <script language='javascript' src='gwt/ui.UI/ui.UI.nocache.js'></script>
    <script language='javascript' src='gwt/ui.UI/AIRAliases.js'></script>
    <script src="servicemonitor.swf" type="application/x-shockwave-flash"></script>
  </head>
  <body>
    <iframe src="javascript:''" id="__gwt_historyFrame" style="width:0;height:0;border:0"></iframe>
  </body>
</html>