<h3>Sign Up or Login</h3>
<form action="/sessions" method="POST">
  <table>
    <tr>
      <td><label>OpenID:</label></td>
      <td><input type="text" id="openid_url" name="openid_url"/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td align="right"><span class="note">Remember me</span><input type="checkbox" name="remember_me" value="1" checked/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td align="right"><input type="submit" value="Login"/></td>
    </tr>
  </table>
</form>