<form action="/sessions" method="POST">
  <div>
    <label>
      Identity URL:
      <input type="text" name="openid_url"/>
    </label>
    <input type="checkbox" name="remember_me" value="1" checked/> Remember me
  </div>
  <input type="submit" name="Login"/>
</form>