<p>Insert UI here.</p>

You can generate a GWT scaffold with this:<br/>
<blockquote>
script/generate gwt_client
rake gwt:compile
</blockquote>

<p>You can also view create or view a list of OAuth clients <a href="/oauth_clients">here</a>.</p>