<%= flash['notice'] %>
<div id="ui-placeholder">
  <p>Insert UI here.</p>
</div>
<div class="prompt">
  <a href="/oauth_clients">Manage OAuth clients</a>
</div>

<div class="tips">
  You can kickstart your UI with GWT like this:
  <div class="console-block">
    &gt;&nbsp;script/generate gwt_client --gwt-home=/usr/local/lib/gwt<br/>
    &gt;&nbsp;rake db:migrate<br/>
    &gt;&nbsp;rake gwt:compile
  </div>
  See the output of the gwt_client generator for more tips and options, including next steps for generating synchronized desktop clients.
<div>