<h1>New CloudKit App</h1>
<div id="login" class="prompt">
  <a href="/sessions/new">Sign up or Login</a>
</div>
<div id="intro">
  <p>CloudKit is a toolkit for building Open Web applications.</p>
  <p>Specifically, CloudKit is a RESTful, cross-platform, cross-browser, online/offline, hybrid web/desktop, multi-client data synchronization platform.</p>
</div>
<h3>Resources</h3>
<ul id="resource-list">
  <li><a href="http://github.com/jcrosby/cloudkit/tree/master">MIT-licensed source on GitHub</a></li>
  <li><a href="http://github.com/jcrosby/cloudkit/wikis/roadmap">Roadmap</a></li>
  <li><a href="http://jcrosby.lighthouseapp.com/projects/10647-cloudkit">Issue Tracking</a></li>
  <li><a href="http://github.com/jcrosby/cloudkit/wikis">Wiki</a></li>
  <li><a href="http://groups.google.com/group/cloudkit">Google Group</a></li>
</ul>
