<!doctype html>
<html lang="en">
<head>
  <title><%= @app_name.capitalize %></title>
  <link type="text/css" href="/css/main.css" rel="stylesheet"/>
  <script type="text/javascript" src="/js/jquery-1.4.2.js"></script>
</head>
<body>
<%%= yield %>
</body>
</html>
<script type="text/javascript" src="/js/app.js"></script>